@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*===== GLOBAL =====*/
:root {
    --gap: 15px;
}

body {
    background: linear-gradient(45deg, #dfdfdf, #165a9512);
}

main {
    margin: auto;
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4{
    margin-top: 0;
    margin-bottom: var(--gap);
}
h1 {
    font-size: min(5em, 100px);
    font-weight: 800;
    margin-bottom: var(--gap);
    line-height: 1em;

}
h2 {
    font-size: 1.5em;
    font-weight: 300;
}
h3 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.9em;
}
h4 {
    font-size: 1.5em;
    font-weight: 300;
}
a {
    text-underline-offset: 4px;
    text-decoration: underline;
    color: #154682;
}
a:hover,
a:active,
a:focus {
    color: #2d6ebd;
}
hr {
    border-top: 1px solid #cdcdcd;
    margin: calc(var(--gap) * 3) auto ;
}
img {
    width: 100%;
}
label {
    width: 100%;
    display: block;
}
/*===== SECTIONS =====*/
section {
    margin-bottom: calc(var(--gap) * 20);
    transition: all .5s ease;
}
#title-section {
    text-align: center;
    margin: calc( var(--gap) * 10) auto;
}

section:not(.show) {
    opacity: 0;
}
.show{
    opacity: 1;
}

/*===== FIGURES =====*/
figure {
    width: 80%;
    margin: var(--gap) auto;
}
figcaption {
    text-align: center;
}

/*===== UTIL =====*/
.two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}
.text-center {
    text-align: center;
}

/*===== MEDIA QUERIES =====*/
@media screen and (max-width: 768px) {
    .two-col {
        grid-template-columns: 1fr;
    }
}